*{box-sizing:border-box;
}
body {
    background-color:rgb(204, 204, 204);
    text-align: center;
  }
main{
    width: 80%;
    margin: 40px 50px;
  }
 
  .header {
    display :flex;
    padding: 20px;
    background:rgb(69, 144, 191);
    }  
.header .logo{
  margin-left: 25%;
}
 body {
    font-family: pedestria-mvb, sans-serif;
    font-weight: 400;
    font-style: normal;
}
  .card {
  position: relative;
  display: inline-block;
}
.card .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 40px ;
}
.card:hover .img-top {
  display: inline;
}
.card:hover .img-bottom {
  opacity: 0;
}
.card{
  padding:40px ;
}
left {
  display:flex;
  align-items: center;
  gap: 50px;
}
#mySidenav a {
  position: absolute;
  left: -200px;
  transition: 0.3s;
  padding: 10px;
  width: 250px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  border-radius: 0 6px 6px 0;
}

#mySidenav a:hover {
  left: 0;
}

#index {
  top: 100px;
  background-color: #4590BF;
}

#donuts {
  top: 170px;
  background-color: #F299B9;
}

#icecream {
  top: 240px;
  background-color: #D94848;
}

#chocolate {
  top: 310px;
  background-color: #F2C53D
}
#pastry {
  top: 380px;
  background-color: #D99543
}