*{box-sizing:border-box;
}
body {
    background-color:rgb(204, 204, 204);
    text-align: center;
  }
main{
    width: 80%;
    margin: 40px 50px;
    
  }
 
  .header {
    display :flex;
    padding: 20px;
    background:rgb(69, 144, 191);
    }  
.header .logo{
  margin-left: 25%;
}
 body {
  font-family: sommet-slab, serif;
    font-family: pedestria-mvb, sans-serif;
    font-weight: 24 px;
    
}
  .card {
  position: relative;
  display: inline-block;
}
.card .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 40px ;
}
.card:hover .img-top {
  display: inline;
}
.card:hover .img-bottom {
  opacity: 0;
}
.card{
  padding:40px ;
}
left {
  display:flex;
  align-items: center;
  gap: 50px;
}
#mySidenav a {
  position: absolute;
  left: -200px;
  transition: 0.3s;
  padding: 10px;
  width: 250px;
  text-decoration: none;
  font-family: pedestria-mvb, sans-serif;
  font-size: 36px;
  color: white;
  border-radius: 0 6px 6px 0;
}

#mySidenav a:hover {
  left: 0;
}

#index {
  top: 100px;
  background-color: #4590BF;
}

#donuts {
  top: 170px;
  background-color: #F299B9;
}

#icecream {
  top: 240px;
  background-color: #D94848;
}

#chocolate {
  top: 310px;
  background-color: #F2C53D
}
#pastry {
  top: 380px;
  background-color: #D99543
}
.list {
  display: flex;
  background: #D99543;
  width:60%;
  padding: 50px;
  justify-content: center;
  align-items: center;
  border:5px solid #F2C53D;
  border-radius: 25px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  
}
.list .left{
  margin: 10px;
  flex:40%

}
.list .right{
  padding: 10px;
  flex:40%
  font-size:20px;

}


h1{
  font-family: hwt-artz, sans-serif;
  font-size: 40px;
  line-height: 60px;
  

}
h2{
  font-family: pedestria-mvb, sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-top: 10px;
    margin-bottom: 10px;
}