*{box-sizing:border-box;
}
body {
    background-color:rgb(204, 204, 204);
    text-align: center;
  }
main{
    width: 80%;
    margin: 40px 50px;
  }
 
  .header {
    display :flex;
    padding: 20px;
    background:rgb(69, 144, 191);
    }  
.header .logo{
  margin-left: 25%;
}
body {
    font-family: pedestria-mvb, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .card {
  position: relative;
  display: inline-block;
}
.card .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  padding:40px ;
}
.card:hover .img-top {
  display: inline;
}
.card{
  padding:40px ;
}
left {
  display:flex;
  align-items: center;
  gap: 50px;
}